{% extends "employee_register/base.html" %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>Image</td>
            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
<tbody>
    {% load static %}

    {% for employee in employee_list %}
        <tr>
            <td>{{ employee.fullname }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.position }}</td>
            <td>
                {% if employee.profile_image %}
                    <img src="{{ employee.profile_image.url }}" width="100" height="100" alt="Profile Image">
                {% else %}
                    <img src="{% static 'img/12.jpg' %}" width="100" height="100" alt="No Image">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'employee_delete' employee.id %}" enctype="multipart/form-data" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endblock content %}