{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <p>Create an account?
        <a href="/employee/register/">Create</a>
    </p>
</form>

{% endblock %}
